body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    cursor: url(assets/images/pizza.gif), default;
}

#player-board {
    border: solid black 1px;
    width: 20vw;
    height: 20vh;
    flex-direction: row;
    justify-content: space-around;
    align-self: flex-start;
    margin: 5% 0 0 3%;
    display: flex;
    padding-top: 2%;
}

#game-board {
    display: flex;
    flex-direction: row;
    position: relative;
}

.game-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}

.game-cell {
    border: dotted black 1px;
    width: 20vw;
    height: 20vh;
    left: 50%;
    right: 50%;
    transform: translate(-25%,-25%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

