body {
    margin: 0;
    font-family: 'Lobster', cursive;
    background-image: url('assets/images/background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#form-board {
    position: absolute;
    float: left;
    width: 15vw;
    height: 90vh;
    left: 2%;
    padding-left: 9%;
    background-image: url('assets/images/form_background.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.form-container1, .form-container2 {
    position: absolute;
    left: 18%;
    top: 32%;
    text-align: center;
    width: 60%;
    color: #ffffff;
    font-size: 120%;
}

.form-input {font-size: 110%;width: 13vw;}

.form-area {
    /* padding-bottom: 0%; */
}

.radio_img {
    width: 26%;
    vertical-align: middle;
    padding: 3% 0;
}

#player-board {
    width: 60vw;
    height: 23vh;
    flex-direction: column;
    display: flex;
    align-content: space-between;
    align-items: center;
}

.body-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 45vw;
    height: 11vh;
    align-items: center;
}

.game-logo {
    width: 17%;
    padding-right: 5%;
}

.game-logo img{
    width: 100%;
}

h1 {
    font-size: 300%;
}

.player-container div {
    font-size: 130%;
    margin-right: 10%;
}

.player-container {
    display: flex;
    width: 40vw;
    flex-direction: row;
    justify-content: center;
}

.button-reset {
    font-family: inherit;
    font-size: inherit;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid black;
    padding: 10px 20px;
}

.button-reset:hover {
    font-family: inherit;
    font-size: inherit;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid black;
    padding: 10px 20px;
}

#game-board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 200%;
    margin-top: 2%;
    background-image: url('assets/images/game-grid.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 65vw;
    height: 65vh;
    animation: bounceIn 2s;
}

.game-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}

.game-cell {
    width: 3.5em;
    height: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-cell:hover {
    transform: rotateZ(-50deg);
    background-color: rgba(198, 47, 59, 0.63);
    border-radius: 50%;
    transition: ease 0.4s;
}

.pepperoni_cursor {
    cursor: url('assets/images/cursor_pepperoni.png'), default;
}

.greenpepper_cursor {
    cursor: url('assets/images/cursor_green_pepper.png'), default;
}

.mushroom_cursor {
    cursor: url('assets/images/cursor_mushroom.png'), default;
}

@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity:0;
    }
    60% {
        transform: scale(1.3);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}