body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#player-board {
    width: 60vw;
    height: 23vh;
    flex-direction: column;
    display: flex;
    align-content: space-between;
    align-items: center;
}

.body-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60vw;
}

.game-logo {
    width: 17%;
    padding-right: 5%;
}

.game-logo img{
    width: 100%;
}

.player-container div {
    font-size: 130%;
}

.player-container {
    display: flex;
    width: 40vw;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
}

#game-board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 200%;
    margin-top: 2%;
    background-image: url('assets/images/game-grid.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 75vw;
    height: 65vh;
}

.game-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}

.game-cell {
    width: 15vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-cell:hover {
    background-color: rgba(198, 47, 59, 0.63);
    border-radius: 50%;
    transition: ease 0.3s;
}

.container > div.player1_bg {
    background: url(assets/images/piece_pepperoni.png), no-repeat;
}

.container > div.player2_bg {
    background: url(assets/images/piece_green_pepper.png), no-repeat;
}

.player1_cursor {
    cursor: url(assets/images/piece_pepperoni.png), default;
}

.player2_cursor {
    cursor: url(assets/images/piece_green_pepper.png), default;
}

